* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #2563EB;
    --secondary-color: #F1F5F9;
    --text-color: #0F172A;
    --header-font: "Poppins", sans-serif;
    --btn-hovered: #0c44bd;
    --card-bg: #FFFF;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: linear-gradient(45deg, #2563EB, #F1F5F9);padding: 32px 60px;
    box-shadow: 0 4px 8px #000;


    border-radius: 12px;
    
}

form h2 {
    font-size: clamp(3rem, 3vh, 24px);
}

input {
 border: none;
 outline: none;
 font-size: clamp(1rem, 3vh, 24px);
 background: none;
 ;
}

input[type="submit"] {
    background-color: var(--primary-color);
    padding: 12px 32px;
    cursor: pointer;
    border-radius: 8px;
    color: var(--secondary-color);
    transition: background-color 0.6s ease-in;
}

input[type="submit"]:hover {
    background-color: var(--btn-hovered);
}

.input-group {
    position: relative;
    background-color: white;
    padding: 16px 8px 16px 32px;
    border-radius: 12px;
}

.input-group i {
    position: absolute;
    left: 8px;
    color: blue;
    font-size: 1.2rem;
}

.input-group.error {
    border: 2px solid orangered;
}

.input-group:has(input:focus) {
    border: 2px solid blue;
}

.errMsg {
    color: blue;
    font-size: 0.9;
    display: flex;
    flex-direction: column;
}