* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563EB;
    --secondary-color: #F1F5F9;
    --text-color: #0F172A;
    --header-font: "Poppins", sans-serif;
    --btn-hovered: #0c44bd;
    --card-bg: #FFFF;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
}

.header {
    width: 100%;
     background: white;
     padding: 16px 32px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.hamburger {
    display: none; 
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    transition: background-color 0.4s, color 0.4s;
    border-radius: 4px;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-links a:active {
    background-color: var(--primary-color);
    color: white;
}

.logo {
    font-family: var(--header-font);
    font-size: clamp(24px, 5vw, 32px);
}

span {
    color: var(--primary-color);
    font-family: var(--header-font);
}

.hero-sect {
    width: 100%;
    height: 87vh;
    background-image: url(Images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg);

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: moveBg 30s linear infinite;
}

.hero {
    display: flex;
    text-align: center;
    padding: 20px;

}

.hero-txt {
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0.1;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.error {
    border: 2px solid rgb(182, 56, 22);
}

.hero-txt h1 {
    font-size: clamp(3rem, 2vw, 20px);
    margin-top: 8px;
}

.hero-txt p {
    margin: 16px;
    font-size: clamp(1.2rem, 2vw, 16px);
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.hero-txt a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: clamp(1.3rem, 3vw, 16px);
}


@keyframes moveBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}

.btn {
    margin-top: 12px;
    background: var(--primary-color);
    padding: 12px 24px;
    border-radius: 12px;
    transition: background 0.6s ease;
}

.btn:hover {
    background: var(--btn-hovered);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 24px;
    margin-top: 32px;
    flex-wrap: nowrap;
}

.about h2 {
    font-size: clamp(3rem, 3vw, 24px);
}

.about p {
    width: 60%;
    color: var(--text-color);
    font-size: clamp(1.2rem, 2vw, 20px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 32px 0;
}

.card {
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
    color: var(--text-color);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(15, 23, 42, 0.12);
    transition: all 0.2 ease;
}

.cards .card:nth-child(1) i {
    color: rgb(0, 255, 38);
    font-size: 2rem;
}

.cards .card:nth-child(2) i {
    color: orangered;
    font-size: 2rem;
}

.cards .card:nth-child(3) i {
    color: yellow;
    font-size: 2rem;
}

.story {
     text-align: center;
     padding: 60px 20px;
     background: #f9f9fb;
}

.story-txt {
    font-size: clamp(1.2rem, 2vw, 20px);
    color: var(--text-color);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    border-radius: 8px;
    background-color: var(--card-bg);
    width: 800px;
    padding: 12px 32px;
}

.contactForm h2 {
    font-size: clamp(2rem, 3vw, 24px);
    border-bottom: 2px solid var(--primary-color);
}

input {
    padding: 12px 32px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    font-size: 1.2rem;
    margin-top: 12px;
}
textarea {
    width: 100%;
    padding: 12px 16px;
    max-width: 500px;
    min-height: 250px;

    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

input[type="submit"] {
    background: linear-gradient(45deg, #2563EB, #4F8FFF);
    color: var(--secondary-color);
    border: none;
}

/* Media queries */
@media (max-width: 762px) {
    .cards {
        display: grid;
        grid-template-columns: 3fr;
        gap: 12px;
        
    }

    .card {
      padding: 40px 80px;
    }

    
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 12px;
        background: white;
        position: absolute;
        top: 70px;
        right: 20px;
        padding: 60px;
        border-radius: 8px;
    }

    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    background-color: #0F172A;
    color: #F1F5F9;
}

footer p {
    font-size: 0.8rem;
}